<!DOCTYPE html>
<html>
<head>
  <title>Coverages</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "coverages/application", media: "all" %>
  <%= javascript_include_tag "coverages/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
