<!DOCTYPE html>
<html>
  <head>
    <title>Sandbox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div>
      <h3><%= link_to main_app.books_url, main_app.books_url %></h3>
      <h3><%= link_to core.articles_url, core.articles_url %></h3>
      <h3><%= link_to coverages.coverages_url, coverages.coverages_url %></h3>
    </div>
  </body>
</html>
